<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">

  <div class="col-lg-12">
    <div class="row">
      <button type="button" class="btn btn-lg btn-danger" confirmed-click="stopMongo()" 
              ng-confirm-click="Would you like to stop MongoDB?">Stop Mongo</button>
      <button type="button" class="btn btn-lg btn-primary" ng-click="startMongo()">Start Mongo</button>
      <button type="button" class="btn btn-lg btn-danger" confirmed-click="stopEnergyManagementDashboard()" 
              ng-confirm-click="Would you like to stop the Energy Management Dashboard?">Stop Energy Management Dashboard</button>
      <button type="button" class="btn btn-lg btn-primary" ng-click="startEnergyManagementDashboard()">Start Energy Management Dashboard</button>
    </div>
  </div>
  <div class="row">
    <p>Mongo Status: {{mongoStatus}}</p>
    <p>EnergyManagementDashboard Status: {{energyManagementDashboardStatus}}</p>
    <p>Uptime: {{uptime}}</p>
  </div>

  <div class="row">
    <button type="button" class="btn btn-lg btn-danger" confirmed-click="shutdown()" ng-confirm-click="Would you like to shutdown the Dashboard?">Shutdown</button>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
