<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">

  <div class="col-lg-12">
    <div class="row">
      <button type="button" class="btn btn-lg btn-danger" confirmed-click="stopMongo()" 
              ng-confirm-click="Would you like to stop MongoDB?">Stop DB</button>
      <button type="button" class="btn btn-lg btn-danger" confirmed-click="removeMongoLockFile()" 
              ng-confirm-click="Would you like to remove DB lock file?">Cleanup DB</button>

      <button type="button" class="btn btn-lg btn-primary" ng-click="startMongo()">Start DB</button>
      <button type="button" class="btn btn-lg btn-danger" confirmed-click="stopEnergyManagementDashboard()" 
              ng-confirm-click="Would you like to stop the Energy Management Dashboard?">Stop Dashboard</button>
      <button type="button" class="btn btn-lg btn-primary" ng-click="startEnergyManagementDashboard()">Start Dashboard</button>
    </div>
    <div class="row">
      <p>Mongo Status: <span class="label {{mongoStatusLabel}}">{{mongoStatus}}</span></p>
      <p>EnergyManagementDashboard Status: <span class="label {{energyManagementDashboardStatusLabel}}">{{energyManagementDashboardStatus}}<span></p>
      <p>Uptime: {{uptime}}</p>
    </div>

    <div class="row">
      <button type="button" class="btn btn-lg btn-danger" confirmed-click="shutdown()" ng-confirm-click="Would you like to shutdown the Dashboard?">Shutdown</button>
      <button type="button" class="btn btn-lg btn-danger" confirmed-click="restart()" ng-confirm-click="Would you like to restart the Dashboard?">Restart</button>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Battery Management System - Status Checker |
        <a href="https://twitter.com/leighghunt">@leighghunt</a> |
         <a href="https://github.com/venari/node-bounce/issues?state=open">Issues</a></p>
  </div>
</footer>
